/* Estilo General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabecera */
header {
    background-color: #82B3B4;
    text-align: end;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

header nav{
    display: flex;
    align-items: center;
}

header nav .logo-nav{
    display: flex;
    align-items: center;
    margin-right: 800px;
    margin-left: 5px;
}

header nav .logo-nav img {
    height: 30px; 

}

header button {
    background-color: #7DA78D;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
}

header button:hover {
    background-color: #658d70;
}

.preseccion {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    align-items: center;
}

.divider {
    height: 80px;
    background-color: #82B3B4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

/* Sección Principal */
.main {
    background-color: white;
    text-align: center;
}

.main h1 {
    font-size: 2em;
    margin: 10px 0;
}

.main button {
    background-color: #7DA78D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 100px;
}

.main button:hover {
    background-color: #658d70;
}

/* Sección Nuestra Misión */
.section {
    background-color: #C8CFA0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section img {
    width: 40%;
    border-radius: 10px;
    margin: 20px;
}

.section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.section p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

/* Sección Nuestro Objetivo */
.section2 {
    background-color: #FCDC94;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2 .imgconteiner{
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}

.section2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section2 h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.section2 p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.section2 button {
    background-color: #7DA78D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.section2 button:hover {
    background-color: #658d70;
}

/* Sección Equipo */
.equipo {
    background-color: #FDAF7C;
    padding: 50px;
    text-align: center;
}

.equipo h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.fotos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.fotos div{
    width: 150px;
    height: 150px;

    

    
}
.fotos div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;

}


/* Pie de Página */
footer {
    background-color: #82B3B4;
    padding: 20px;
    text-align: center;
    color: white;
}

footer .social {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

footer .social a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-logo {
    width: 400px;
    height: 370px;
}

.icono {
    width: 30px;

}