*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* codigo Gerardo Gambarte archivo donaciones.html */
/* body {
  font-family: "verdana", sans-serif;
} */
h1{
  text-align: center;
}
div h2{
  background-color: #78ABA8;
  color: white;
  text-align: center
}
.fondo{
  background-color: #78ABA8 ;
}
.logo{
  width: 50px;
  height: 60px;
}

/* estilos cards */
/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
} */

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  padding-bottom: 20px;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #58dd44;  /* #ff6b6b */
  transition: all 0.5s ease;
}

.card::before {
  top: 0;
  left: 0;
}

.card::after {
  bottom: 0;
  right: 0;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
}

.card:hover::before {
  height: 100%;
  width: 2px;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}

.card:hover::after {
  height: 100%;
  width: 2px;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.card-content p {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #C8CFA0; /* #58dd44 */
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.card-content a:hover {
  background: #b5bb95;  /* #42a033 */
}
/* fin estilos cards */

/* estilos footer */
footer{
  height: 150px;
  background-color: #78ABA8;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: white;
}
/* fin estilos del footer */

/* inicio mediaqueries */
@media only screen and (min-width: 768px) {


  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

/* Termina codigo Gerardo Gambarte archivo donaciones.html */

