body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background-color: #82B3B4;
    text-align: end;
    padding: 10px 20px;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

header nav{
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

header nav .logo-nav{
    display: flex;
    align-items: center;
    margin-right: 800px;
    margin-left: 5px;
}

header nav .logo-nav img {
    height: 30px; 

}

header button {
    background-color: #7DA78D;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
}

header button:hover {
    background-color: #658d70;
}

.comedores {
    text-align: center;
    padding: 20px;
}

.comedores h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 15px;
    margin-bottom: 20px;
}

#map{
    margin: 0 auto;
}

.comedor {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.comedor img {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

.comedor-cont {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.comedor h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.comedor p, .comedor ul {
    margin: 0;
    margin-right: 20px;
}

footer {
    background-color: #82B3B4;
    padding: 20px;
    text-align: center;
    color: white;
}

footer .social {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

footer .social a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-logo {
    width: 400px;
    height: 370px;
}

.icono {
    width: 30px;

}

main{
    padding-bottom: 40px;
}